body {background-color :black;
     color: white;
     
}
h1 {
    text-transform: uppercase;
    font-size: 10em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
li {
    font-family: 'Libre Franklin', sans-serif;
    color: white;
}

ol  {font-family: 'Libre Franklin', sans-serif;
    color: white;
}

.container{
  display: grid;
  grid-template-columns: 3;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one{
    grid-column: none;
    grid-row: 1;
    text-align: center;
    text-justify: distribute;
    width: 100vw;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    line-height: .05em;
    border-top: 10px solid red;
    border-bottom:  10px solid red;

}

.two{
    grid-column: none;
    grid-row: 2;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    justify-content: center;
    border-bottom:  10px solid red;
    }
       